@import "src/styles";

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid #ccc;

  .mobile-menu {
    display: none;
  }

  .menu-container {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 35px;
      position: relative;
      bottom: 3px;
    }

    .menu {
      display: flex;
      color: #747474;
      height: 100%;
      padding: 30px 0;
      align-items: center;

      .menu-item {
        margin-right: 20px;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        &:hover {
          margin-bottom: 0;
          border-bottom: 5px solid $accent-color;
        }
      }
    }
  }

  .login-container {
    $avatar-size: 40px;
    display: flex;
    align-items: center;

    img.cart {
      margin-right: 35px;
      cursor: pointer;
    }

    div.cart-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .badge {
        font-size: 10px;
        color: white;
        background: $accent-color;
        padding: 1px 7px;
        border-radius: 12px;
        position: relative;
        top: 6px;
        right: 5px;
      }

      app-cart {
        position: absolute;
        top: 80px;
        display: none;
        z-index: 800;
      }

      &:hover {
        app-cart {
          display: block;
        }
      }

    }


    img.avatar {
      height: $avatar-size;
      width: $avatar-size;
      cursor: pointer;
      margin: 2px;

      &:hover {
        border-radius: 50%;
        margin: 0;
        border: 2px solid $accent-color;
      }
    }
  }
}


@media (max-width: 448px) {
  header {
    border-bottom: none;
    padding: 8px;
    align-items: baseline;

    .mobile-menu {
      display: inline-block;
      margin-right: 15px;
      position: relative;
      bottom: 2px;
    }

    .menu-container {
      .menu {
        display: none;
      }
    }

    .login-container {
      div.cart-container {
        app-cart {
          position: absolute;
          top: 50px;
          right: -44px;
          z-index: 800;
          border-radius: 7px;
          width: 95vw;
        }
      }
    }

  }

}
