main {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  justify-content: center;

  app-product-displayer {
    margin-right: 35px;
  }
}

:host {
  display: block;
  width: 80vw;
  margin: auto;
}

@media (max-width: 448px) {
  :host {
    display: block;
    width: 100%;
  }

  main {
    padding: 0;
    margin: 0;
    justify-content: normal;
    flex-direction: column;
    app-product-displayer {
      margin: 0;
    }
  }
}
