<div class="component-container" (click)=" $event.stopPropagation(); onClick($event)">
  <div *ngIf="images" class="carousel">

    <div class="close" (click)="close.emit()"><img src="assets/images/icon-close.svg" alt="close carousel"></div>

    <div class="display">
      <div class="control previous" (click)="previous()"><img src="assets/images/icon-previous.svg" alt="previous image"></div>
      <img *ngIf="selected" class="selected-image" src="assets/images/{{selected.image}}" alt="selected image">
      <div class="control next" (click)="next()"><img src="assets/images/icon-next.svg" alt="next image"></div>
    </div>


    <div class="thumbnail-list">
      <ng-container *ngFor="let productImage of images">
        <div class="thumbnail" [class.selected]="productImage.selected" (click)="selectImage(productImage)">
          <div class="selected-thumbnail-mask">
          </div>
          <img src="assets/images/{{productImage.thumbnail}}" alt="thumbnail">
        </div>
      </ng-container>
    </div>

  </div>

</div>
